__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/

src/results/

report/*.aux
report/*.bbl
report/*.blg
report/*.log
report/*.out
report/*.toc
report/*.synctex.gz
report/.mplconfig/
report/overleaf_*.zip

LaTeX_example.zip
RehabilitacijskiRobot-*/
